body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(6, 1, 49);
    color: aliceblue;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    flex: 0 0 0;
    flex-direction: column;
    align-items: center;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 50px;
    padding: 40px; 
    flex: 0 1 0;
    
}

.container {
    width: 550px;
    height: 550px;
    border-style: solid;
    border-color: azure;
    display: flex;
    flex: 0 0 auto;
    border-width: 1px;
    flex-wrap: wrap;
    padding: 0;
    align-content: center;
    align-items: center;
    
}

.box {
    border-style: solid;
    border-color: azure;
    border-width: 1px;
    margin: 0; 
}

.menu {
    background-color: rgb(3, 1, 19);
    height: 550px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex: 0 0 0;  
}

.tools {
    height: 400px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}

.color-selections {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    
}

.colors {
    display: flex;
    justify-content: space-around;
}

.color-selection {
    height: 20px;
    width: 20px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.white {
    background-color: aliceblue;
}

button {
    width: 100px;
    height: 30px;
    margin: auto;
    justify-self: end;
}